:root {
  --gray: #3f5461;
  --green: #3e5641;
  --black: #131c26;
  --white: #fff;
  --blue: #2e2e4e;
  --red: #742c36;
  --gray-text: #b3b3b3;
  --gray-border: #d9d9d9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

header > img {
  width: 70px;
  height: 70px;
}

header > h1 {
  margin-top: auto;
  margin-bottom: auto;
}

nav {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

nav > a {
  background-color: var(--gray);
  text-decoration: none;
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 19.6px;
}

.hero {
  display: flex;
  background-color: var(--green);
  color: var(--white);
  height: 392px;
  align-items: center;
  justify-content: center;
}

.hero > h1 {
  font-size: 72px;
}

.hero-img {
  width: 100vmax;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.hero-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(20%) blur(7px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero-foreground {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px; /* Set to whatever size you want */
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

footer {
  display: flex;
  background-color: var(--blue);
  color: var(--gray-text);
  height: 326px;
  justify-content: space-evenly;
  align-items: center;
}

footer > button {
  background-color: var(--red);
  color: var(--white);
  font-size: 20px;
  border: none;
  width: 355px;
  padding: 10px;
  border-radius: 19.6px;
  font-weight: bold;
  cursor: pointer;
}

.footer-nav > div {
  font-weight: bold;
}

.footer-nav > ul {
  list-style-type: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.footer-nav > ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials > div {
  font-weight: bold;
}

.socials > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  margin-top: 20px;
}

.gallery-header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
  margin-bottom: 24px;
}

.gallery-header > input {
  border-style: solid;
  border-radius: 19.6px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-color: var(--gray-border);
}

.gallery-header > button {
  color: var(--white);
  background-color: var(--red);
  border: none;
  border-radius: 19.6px;
  padding: 10px;
  font-weight: bold;
}

.gallery-grid {
  display: grid;
  justify-items: center;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  max-width: 424px;
  display: flex;
  flex-direction: column;
  border-color: var(--gray-border);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-item > h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
}

.gallery-item > p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--gray);
}

.gallery-item > span {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.gallery-item > button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  border-radius: 19.6px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.event-schedule {
  max-width: 750px;
  min-width: 750px;
  text-align: center;
}

.section-title {
  padding-bottom: 25px;
}

.event-list > li {
  padding-top: 15px;
  padding-bottom: 10px;
  list-style-type: none;
  border-bottom: 1px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--gray-text);
}

.event-list > li > h3 {
  text-align: left;
  padding-bottom: 15px;
  color: var(--gray);
}

.event-list > li > div {
  text-align: right;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

.modal input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

.modal-buttons button {
  margin: 5px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.add-to-cart-button {
  cursor: pointer;
}
